body{
  margin:0px;
  padding:0px;
  font-family: 'Roboto', sans-serif;
  font-weight:300;

  &.home{
    background: url(https://upload.wikimedia.org/wikipedia/commons/8/82/2009-0617-Ontonagon-school.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  &.home{
    background: url(http://www.valleytech.k12.ma.us/cms/lib8/MA01907491/Centricity/ModuleInstance/1627/School%20Entrance.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



}