// Vendor : Bootstrap
@import "bootstrap-custom";

//Global
@import "global.scss";

// Sections
@import "sections/home.scss";

// Sections
@import "main_menu.scss";



@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  font-family: 'Open Sans', 'sans-serif';
  background: #f0f0f0;
  background: url(https://pcbx.us/bfjb.jpg);
}



.header {
  background-color: #222e51;
  nav{
    ul{
      list-style: none;
      li{
        display: inline-block;
        margin: 0 15px 0 15px;
        a{
          color: #fff;
          font-size:20px;
        }
      }
    }
  }


  .nav-main{
    margin-top: 24px;
    margin-bottom: 18px;
  }

  .social-block{
      margin-top: 50px;
      list-style: none;
      li{
        display: inline-block;
        background-color: #fff;
        border-radius: 5px;
        padding: 4px 0px;
        width: 27px;
        text-align: center;
        .icon{
          color: #01535F;
        }

      }
  }

}


.hdr-logo{
  img {
    width: 69px;
    margin-left: 39px;
  }
}


.site-left-col{
  background: rgba(34,46,81,0.8);
  overflow: auto;
  color: #fff;
  padding:30px;
  margin-top:30px;
}

.site-right-col{
  background: rgba(34,46,81,0.8);
  overflow: auto;
  color: #fff;
  padding:30px;
  overflow: auto;
  margin-top:30px;
}

h1{
  color: #ffffff;
}


.quick-links-container{
  a{
    color: #fff;
    text-decoration: none;
  }

  > a:after {
    display: inline-block;
    content: "";
    font-family: "FontAwesome";
    -webkit-font-smoothing: antialiased !important;
    font-weight: normal;
    speak: none;
    padding-left: 5px
  }
  .students-quick-link{
    cursor: pointer;
    margin-top: 34px;

    a{
      padding: 10px;
      border: 0;
      border: 1px solid #d0d0d0;
    }
  }
}


.blue-background{
  background-color: #222e51;
}

.top-nav-main{
  li.top-tier{
    display: inline-block;
    margin: 0 15px 0 15px;
    a.top-link {
      color: #fff;
      font-size:20px;
    }
  }
}

.page-content{
  padding:45px 0;
}


.footer-container{
  background: #222e51;
  padding:20px;
  color: #fff;
}


.navmod{
  list-style: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  padding-left: 0;
  overflow: hidden;

  a{
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    font-weight: normal;
    color: #fff;
    line-height: 22px;
    padding: 0.625em 0.625em;
    display: block;
  }

  a:hover{
    background-color: #222e51;
    outline: 0;
  }

}

.main-mid-content{
  min-height: -webkit-calc(100vh - 50px);
  min-height: calc(100vh - 50px);
}

.breadcrumbs{
  background-color: #fbfbfb;
  padding:10px 0;
  color: #777373;
  font-size:18px;
  border-bottom: solid 1px #ccc;
  margin-top:300px;
}

.regular-page-content{
  background-color: #fff;
  h1.article-h1{
    color: #000;
  }
}