<div class="footer-container">
    <div class="row">
        <div class="col-lg-2 text-center">
            <img class="text-center" srcset="{{ theme.link }}/assets/images/home/rise_logo_v1.png 2x" src="{{ theme.link }}/assets/images/home/rise_logo_v1.png"/>
        </div>
        <div class="col-lg-8">
            <address>
                <h1>Rise Enrichment Career Institute</h1><br>
                1355 Market Street, Suite 900<br>
                San Francisco, CA 94103<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </div>
        <div class="col-lg-2">
            <h3>Map</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.669830371945!2d-118.13941538520471!3d34.68828158043756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15201b34e90743d9%3A0x152fda6ed1a966be!2sLife+Source+International+Charter+School!5e0!3m2!1sen!2sus!4v1477795730176" width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            Rise2Enrich.org &copy; {{"now"|date('Y')}} All Rights Reserved.
        </div>
    </div>
</div>
