<div class="footer-container">
    <div class="row">
        <div class="col-lg-2 text-center logo">
            <img class="text-center" srcset="{{ theme.link }}/assets/images/home/rise_logo_v1.png 2x" src="{{ theme.link }}/assets/images/home/rise_logo_v1.png"/>
        </div>
        <div class="col-lg-8 footer-mid-context">

            <div class="col-md-4 text-center">
                <i class="fa fa-university" aria-hidden="true"></i>
                <h2 class="header">Freedom to Choose</h2>
                When it comes to curriculum choices, the sky is the limit.
            </div>

            <div class="col-md-4 text-center">
                <i class="fa fa-child" aria-hidden="true"></i>
                <h2 class="header">Flexibility to Learn</h2>
                High Enrichement Funds to truly explore your students unique interests.
            </div>

            <div class="col-md-4 text-center">
                <i class="fa  fa-key" aria-hidden="true"></i>
                <h2 class="header">Support for Success</h2>
                With a fully credentialed teacher, your family can feel truly supported in their education.
            </div>

            <div class="col-md-12 text-center">
                <h1>Rise Enrichment Career Institute</h1>
                1355 Market Street, Suite 900 San Francisco, CA 94103  <abbr title="Phone">P:</abbr> (123) 456-7890
            </div>

        </div>
        <div class="col-lg-2">
            <h3>Map</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.669830371945!2d-118.13941538520471!3d34.68828158043756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15201b34e90743d9%3A0x152fda6ed1a966be!2sLife+Source+International+Charter+School!5e0!3m2!1sen!2sus!4v1477795730176" width="100%" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            Rise2Enrich.org &copy; {{"now"|date('Y')}} All Rights Reserved.
        </div>
    </div>
</div>
